#title{
    color: aquamarine;
    border-radius: 10px;
}
#paragragh{
    color: aqua;
    border-radius: 10px;
}
#h3{
    color: purple;
    border-radius: 10px;
}
#title{
    color: magenta;
    border-radius: 10px;
}
#art_button1{
    color: aqua;
    background-color: darkslateblue;
}